.container{ 
    padding-top: 10px;
    width: 1150px;
}
.body{
    background-color: rgb(255, 255, 255);
}
.head{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
}
.head .logo{
    display: inline;
    float: right;
    align-items: center;
}
.head .word a{
    direction: ltr;
    color: blanchedalmond;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    font-size: x-large;
    font-weight: 800;
}
.section-nav .container span{
    color: #0c7bfd;
}
.section-nav .container{
    direction: rtl;
    font-size: x-large;
    font-weight: 700;
}
.section-css{
    width: 100%;
    height: 300px;
    background-color: #0c7bfd;
    color: beige;
}
.section-css .container{
    text-align: center;
    margin: auto;
}
.section-css .container h1{
    font-size: 50px;
    font-weight: 600;
}
.section-css .container p{
    font-size: xx-large;
    font-weight: 500;
}
.section-bar .container .box{
    height: 60px;
    border-top: 2px solid rgb(204,204,204);
    border-bottom: 2px solid rgb(204,204,204);
    direction: rtl;
    padding-right: 10px;
    margin: 15px 0 -5px;
}
.section-bar .container .box p{
    font-size: x-large;
    font-weight: 500;
}
.section-bar .container .boxx{
    height: 80px;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    direction: rtl;
    padding-right: 10px;
    margin: 15px 0 -5px;
}
.section-bar .container .boxx p{
    font-size: x-large;
    font-weight: 500;
}
.section-box{
    height: 300px;
    
}
.section-box .container .box{
    display: inline-block;
    width: 30%;
    border: 2px solid rgb(153, 153, 153);
    margin-left: 10px;
    padding-left: 20px;
}
.section-box .container .box .header{
    display: block;
    
}
.section-box .container .box .header p{
    display: inline;
}
.section-box .container .box .header img{
    float: right;
}
.section-box .container hr{
    width: 60%;
}